<!DOCTYPE html>
<html lang="en">
<body class="theme-white" data-type="widgets">
    {load href="__STATIC__/css/amazeui.min.css,__STATIC__/css/app.css" /}
    {load href="__STATIC__/js/jquery.min.js,__STATIC__/js/amazeui.min.js,__STATIC__/layer/layer.js,__STATIC__/js/app.js" /}
    <div class="am-g tpl-g">
        <!-- 内容区域 -->
            <div class="row-content am-cf">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">工作流</div>
                            </div>
                            <div class="widget-body  am-fr">
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                    <div class="am-form-group">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                            <div class="am-dropdown" data-am-dropdown>
                                                <button class="am-btn am-btn-default am-btn-success am-btn-xs"  data-model="layer" data-action="open" data-option="{title:'创建栏目',type:2,content:['{:url('/admin/workflow/add')}'],area: ['50%', '80%']}" data-close="close">
                                                    <span class="am-icon-plus">
                                                    </span>
                                                    添加工作流
                                                </button>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-u-sm-12">
                                <form action="{:url('/admin/cate/sort')}" method="post" id="sort_form">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>名称</th>
                                                <th>审核级数</th>
                                                <th>描述</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {volist name="list" id="vo"}
                                            <tr class="gradeX">
                                                <td>{$vo.id}</td>
                                                <td>{$vo.title}</td>
                                                <td>{:lang('workflow')[$vo.steps]}</td>
                                                <td>{$vo.description}</td>
                                                <td>
                                                    <div class="tpl-table-black-operation">
                                                        <a href="javascript:;"  data-model="layer" data-action="open" data-option="{title:'编辑栏目',type:2,content:['{:url('/admin/workflow/add')}?id={$vo.id}'],area: ['50%', '80%']}">
                                                            <i class="am-icon-pencil"></i> 编辑
                                                        </a>
                                                        <a href="javascript:;"  data-model="ajax" data-action="get" data-url="{:url('/admin/workflow/delete')}" data-msg="确定要删除吗？" data-option="{id:{$vo.id}}" data-success="callback" class="tpl-table-black-operation-del">
                                                            <i class="am-icon-trash"></i> 删除
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {/volist}
                                            <!-- more data -->
                                        </tbody>
                                    </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <script type="text/javascript">
        function callback(data){
            if(data.code==1){
                layer.msg(data.msg, {icon: 1,time: 1000},function(){
                    window.location.reload();
                });
                return true;
            }else{
                layer.msg(data.msg, {icon: 2});
                return false;
            }            
        }
    </script>
</body>
</html>
