<!DOCTYPE html>
<html lang="en">
<body class="theme-white" style="background-color: #fff;" data-type="widgets">
    {load href="__STATIC__/css/amazeui.min.css,__STATIC__/css/app.css" /}
    {load href="__STATIC__/js/jquery.min.js,__STATIC__/js/amazeui.min.js,__STATIC__/layer/layer.js,__STATIC__/js/app.js" /}
    <div class="widget">
        <form id="add_form" action="{:url('/admin/models/add')}" class="am-form am-form-horizontal" method="post">
            <input type="hidden" name="info[id]" value="{$info.id}">
            <div class="am-form-group">
                <label for="doc-ipt-3" class="am-u-sm-4 am-form-label widget-title">模型名称</label>
                <div class="am-u-sm-8">
                    <input type="text" name="info[title]" value="{$info.title}">
                </div>
            </div>

            <div class="am-form-group">
                <label for="doc-ipt-3" class="am-u-sm-4 am-form-label widget-title">英文名称</label>
                <div class="am-u-sm-8">
                    <input type="text" name="info[name]" value="{$info.name}" {if $info.id}readonly{/if}>
                </div>
            </div>            

            <div class="am-form-group">
                <label for="doc-ipt-3" class="am-u-sm-4 am-form-label widget-title">模型类别</label>
                <div class="am-u-sm-8">
                    {if $info.type=='content'}
                    <input type="text" value="内容模型" {if $info.id}readonly{/if}>
                    <input type="hidden" name="info[type]" value="content">
                    {elseif $info.type=='form' }
                    <input type="text" value="表单模型" {if $info.id}readonly{/if}>
                    <input type="hidden" name="info[type]" value="form">                    
                    {else}
                    <select name="info[type]">
                        <option value="content" {eq name="info.type" value="content"}selected{/eq}>内容模型</option>
                        <option value="form" {eq name="info.type" value="form"}selected{/eq}>表单模型</option>
                    </select>
                    {/if}
                </div>
            </div>            

            <div class="am-form-group">
                <label for="doc-ipt-3" class="am-u-sm-4 am-form-label widget-title">是否开启</label>
                <div class="am-u-sm-8 tpl-switch">
                <input type="checkbox" class="ios-switch bigswitch tpl-switch-btn" name="info[status]" value="1" {if $info.status!==0} checked{/if}>
                <div class="tpl-switch-btn-view">
                <div></div>
                </div>                    
                </div>
            </div>                                           

            <div class="am-form-group">
                <div class="am-u-sm-8 am-u-sm-offset-4">
                    <button type="button" data-model="ajaxform" data-option="{form:'#add_form'}" data-success="callback" class="am-btn am-btn-default am-btn-success">保存</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
    function callback(data){
        if(data.code==1){
            parent.location.reload();
        }else{
            layer.msg(data.msg);
        }
    }
    </script>
</body>

</html>
