<!DOCTYPE html>
<html lang="en">
<body class="theme-white" data-type="widgets">
    {load href="__STATIC__/css/amazeui.min.css,__STATIC__/css/app.css,__STATIC__/am-page/amazeui.page.css" /}
    {load href="__STATIC__/js/jquery.min.js,__STATIC__/js/amazeui.min.js,__STATIC__/layer/layer.js,__STATIC__/js/app.js,__STATIC__/am-page/amazeui.page.js" /}
    <div class="am-g tpl-g">
        <!-- 内容区域 -->
            <div class="row-content am-cf">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">内容回收站</div>
                        </div>
                        <div class="widget-body  am-fr">
                            
                            <div class="am-u-sm-12">
                                <form action="{:url('/admin/content/sort')}" method="post" id="sort_form">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                        <thead>
                                            <tr>
                                                <th>
                                                <label class="am-checkbox">
                                                  <input type="checkbox" value="" data-am-ucheck data-model="check" data-action=".check">
                                                </label>
                                                </th>
                                                <th>ID</th>
                                                <th>标题</th>
                                                <th>栏目</th>
                                                <th>更新时间</th>
                                                <th>阅读</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {volist name="list" id="vo"}
                                            <tr class="gradeX">
                                                <td>
                                                <label class="am-checkbox">
                                                  <input type="checkbox" class="check" name="ids[{$vo.id}]" value="{$vo.id}" data-am-ucheck>
                                                </label>
                                                </td>
                                                <td>{$vo.id}</td>
                                                <td>
                                                    【{$vo.models.title}】{$vo.title}
                                                </td>
                                                <td>{$vo.cate.catname}</td>
                                                <td>
                                                    {$vo.addtime}
                                                </td>
                                                <td>{$vo.view}</td>
                                                <td>
                                                    <div class="tpl-table-black-operation">
                                                        <a href="javascript:;" data-model="ajax" data-action="get" data-url="{:url('/admin/content/reduction')}" data-option="{id:{$vo.id}}" data-success="callback" class="tpl-table-black-operation-add">
                                                            <i class="am-icon-plus"></i> 还原
                                                        </a>
                                                        <a href="javascript:;" data-model="ajax" data-action="get" data-url="{:url('/admin/content/delete')}" data-msg="确定要删除吗？" data-option="{id:{$vo.id}}" data-success="callback" class="tpl-table-black-operation-del">
                                                            <i class="am-icon-trash"></i> 删除
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {/volist}
                                            <!-- more data -->
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                            <div class="am-u-lg-12 am-cf">
                                <button type="button" data-model="ajaxform" data-option="{form:'#sort_form',url:'{:url('/admin/content/all',['action'=>'reduction'])}'}" data-success="callback" class="am-btn am-btn-default am-btn-success am-btn-xs">还原</button>
                                <button type="button" data-model="ajaxform" data-option="{form:'#sort_form',url:'{:url('/admin/content/all',['action'=>'delete'])}'}" data-success="callback" data-msg="确定要删除吗？" class="am-btn am-btn-default am-btn-danger am-btn-xs">彻底删除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script type="text/javascript">
    function callback(data) {
        if (data.code == 1) {
            layer.msg(data.msg, {
                icon: 1,
                time: 1000
            }, function() {
                window.location.reload();
            });
        } else {
            layer.msg(data.msg, {
                icon: 2
            });
        }
    } 
    </script>
</body>

</html>
