<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>操作错误</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__STATIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__STATIC__/css/app.css">
</head>

<body class="theme-white" data-type="login">
    <div class="am-g tpl-g">
        <div class="tpl-login">
            <div class="tpl-login-content">
                <h1>:(</h1>
                <p class="error">
                    没有操作权限，请向管理员申请！
                </p>
            <p class="detail"></p>
            </div>
        </div>
    </div>   
</body>

</html>
