<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>跳转中...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__STATIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__STATIC__/css/app.css">
    <script src="__STATIC__/js/jquery.min.js"></script>
</head>

<body class="theme-white" data-type="login">
    <div class="am-g tpl-g">
        <div class="tpl-login">
            <div class="tpl-login-content">
            <?php switch ($code) {?>
                <?php case 1:?>
                <h1>:)</h1>
                <p class="success"><?php echo(strip_tags($msg));?></p>
                <?php break;?>
                <?php case 0:?>
                <h1>:(</h1>
                <p class="error"><?php echo(strip_tags($msg));?></p>
                <?php break;?>
            <?php } ?>
            <p class="detail"></p>
            <p class="jump">
                页面自动 <a id="href" href="<?php echo($url);?>">跳转</a> 等待时间： <b id="wait"><?php echo($wait);?></b>
            </p>
            </div>
        </div>
    </div>
    <script src="__STATIC__/js/amazeui.min.js"></script>
    <script src="a__STATIC__ssets/js/app.js"></script>
    <script type="text/javascript">
        (function(){
            var wait = document.getElementById('wait'),
                href = document.getElementById('href').href;
            var interval = setInterval(function(){
                var time = --wait.innerHTML;
                if(time <= 0) {
                    if(!window.parent.layer){
                        window.location.href = href;
                    }else{
                        window.parent.layer.closeAll();
                    }
                    clearInterval(interval);
                };
            }, 1000);
        })();
    </script>    
</body>

</html>
