<!DOCTYPE html>
<html lang="en">
{load href="__STATIC__/css/amazeui.min.css,__STATIC__/css/app.css" /}
{load href="__STATIC__/js/jquery.min.js,__STATIC__/js/amazeui.min.js,__STATIC__/layer/layer.js,__STATIC__/js/app.js" /}
<body class="theme-white" style="background-color: #fff;" data-type="widgets">
    <div class="widget">
        <form id="add_form" action="{:url('/admin/role/add')}" class="am-form am-form-horizontal" method="post">
            <input type="hidden" name="info[id]" value="{$info.id}" />

            <div class="am-form-group">
                <label for="doc-ipt-3" class="am-u-sm-4 am-form-label widget-title">角色名称</label>
                <div class="am-u-sm-8">
                    <input type="text" name="info[role_name]" value="{$info.role_name}">
                </div>
            </div>                    

            <div class="am-form-group">
                <div class="am-u-sm-8 am-u-sm-offset-4">
                    <button type="button" data-model="ajaxform" data-option="{form:'#add_form'}" data-success="callback" class="am-btn am-btn-default am-btn-success">保存</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
    function callback(data){
        if(data.code==1){
            parent.location.reload();
        }else{
            layer.msg(data.msg);
        }
    }
    </script>
</body>

</html>
