<footer class="footer ">
    <ul>
        <li class="am-u-lg-4 am-u-md-4 am-u-sm-12 part-5-li2">
            <div class="part-5-title">
                联系我们
            </div>
            <div class="part-5-words2">
                <span>
                    地址:郑州市
                </span>
                <span>
                    电话:xxxxxxxxx
                </span>
                <span>
                    邮箱:support@atmomo.cn
                </span>
                <span>
                    <i class="am-icon-phone">
                    </i>
                    <em>
                        0371-xxxxxx
                    </em>
                </span>
            </div>
        </li>
        <li class="am-u-lg-4 am-u-md-4 am-u-sm-12 ">
            <div class="part-5-title">
                相关链接
            </div>
            <div class="part-5-words2">
                <ul class="part-5-words2-ul">
                    <li class="am-u-lg-4 am-u-md-6 am-u-sm-4">
                        <a href="#">
                            解决方案
                        </a>
                    </li>
                    <li class="am-u-lg-4 am-u-md-6 am-u-sm-4">
                        <a href="#">
                            产品展示
                        </a>
                    </li>
                    <li class="am-u-lg-4 am-u-md-6 am-u-sm-4">
                        <a href="#">
                            客户案例
                        </a>
                    </li>
                    <li class="am-u-lg-4 am-u-md-6 am-u-sm-4">
                        <a href="#">
                            服务中心
                        </a>
                    </li>
                    <li class="am-u-lg-4 am-u-md-6 am-u-sm-4">
                        <a href="#">
                            关于我们
                        </a>
                    </li>
                    <li class="am-u-lg-4 am-u-md-6 am-u-sm-4">
                        <a href="#">
                            招贤纳士
                        </a>
                    </li>
                    <div class="clear">
                    </div>
                </ul>
            </div>
        </li>
        <div class="clear">
        </div>
    </ul>
</footer>
<!--[if lt IE 9]>
<script src="__STATIC__/http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="__STATIC__/http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__STATIC__/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__STATIC__/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="__STATIC__/js/amazeui.min.js"></script>
<script src="__STATIC__/js/scroll.js"></script>