<head lang="en">
  <meta charset="UTF-8">
  <title>{if $seo.title}{$seo.title}-{/if}{$setting.web.title}</title>
  <meta name="description" content="{$setting.web.description}"/>
  <meta name="keywords" content="{$seo.keywords??$setting.web.keyword}"/>  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/> 
  <link rel="alternate icon" type="img/hengwang-1.png" href="img/hengwang-1.png">
  {load href="__STATIC__/css/amazeui.css,__STATIC__/css/style.css" /}
</head>