<div class="toppic">
   <div class="am-container-1">
   <div class="toppic-title left">
      <i class="am-icon-newspaper-o toppic-title-i"></i>
      <span class="toppic-title-span">{$catlist[$catid]['catname']}</span>
    </div>
    <div class="right toppic-progress">
      <span><a href="/" class="w-white">首页</a></span>
      <i class=" am-icon-arrow-circle-right w-white"></i>
      <span><a href="{:url('home/content/cate',['catid'=>$catid])}" class="w-white">{$catlist[$catid]['catname']}</a></span>
    </div>
  </div>
</div>