<!DOCTYPE html>
<html lang="en">
{load href="__STATIC__/css/amazeui.min.css,__STATIC__/css/app.css" /}
{load href="__STATIC__/js/jquery.min.js,__STATIC__/js/amazeui.min.js,__STATIC__/layer/layer.js,__STATIC__/js/app.js" /}
<body class="theme-white" style="background-color: #fff;" data-type="widgets">
    <div class="widget">
        <form id="add_form" action="{:url('/admin/file/edit',['src'=>$Request.param.src])}" class="am-form am-form-horizontal" method="post">
            <div class="am-form-group">
                <label for="doc-ipt-3" class="am-u-sm-3 am-form-label widget-title">文件名称</label>
                <div class="am-u-sm-9">
                    <input id="name" name="name" value="{$file}" type="text" {if $file}readonly="readonly"{/if} />
                </div>
            </div>

            <div class="am-form-group">
                <label for="doc-ipt-3" class="am-u-sm-3 am-form-label widget-title">文件内容</label>
                <div class="am-u-sm-9">
                    <textarea name="content" style="border:1px solid #ccc;height: 500px;overflow:auto;width: 100%">{$content}</textarea>
                </div>
            </div>              

            <div class="am-form-group">
                <div class="am-u-sm-9 am-u-sm-offset-3">
                    <button type="button" data-model="ajaxform" data-option="{form:'#add_form'}" data-success="callback" class="am-btn am-btn-default am-btn-success">保存</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">

    function callback(data){
        if(data.code==1){
            window.parent.location.reload();
        }else{
            layer.msg(data.msg);
        }
    }
    </script>
</body>

</html>
