<!DOCTYPE html>
<html>
<!--头部-->
{include file="public/header" /}
<!--头部结束-->
<body>
<!--导航-->
{include file="public/navigation" /}
<!--导航结束-->

<!--top-->
{include file="public/top" /}
<!--top结束-->


	
<div class="am-container-1 news-content-all content">
<div class="left am-u-sm-12 am-u-md-8 am-u-lg-9 ">
	  <ul class="news-ul">
	  {volist name="list" id="vo"}
	  	<li class="am-u-sm-12 am-u-md-6 am-u-lg-4 ">
	  		<a href="{:url('home/content/show',['id'=>$vo.id])}">
	  		<div class="news-ul-liall">
	  		  	<img class="news-ul-liimg" src="{$vo.thumb}"/>		  	  		  	 
	  		  <div class="inform-list">
		  		  	<div class="inform-list-date"><i class="am-icon-arrow-circle-right"></i>{$vo.addtime}</div>
		  		  	<div class="inform-list-numb"><i class="am-icon-arrow-circle-right"></i>点击次数：{$vo.view}</div>
	  		  </div>		  
	  		  <span>{$vo.title}</span>
	  		  <p>{$vo.abstract}</p>
	  	    <span class="see-more3">查看更多<i class="am-icon-angle-double-right"></i></span>
	  	  </div>
	  	  </a>
	  	</li>
		{/volist}
	  	<div class="clear"></div>
		</ul>
		<ul class="am-pagination ">
		{$page}
		</ul>	  
</div>	  

<div class="left am-u-sm-12 am-u-md-4 am-u-lg-3">
	
	<section data-am-widget="accordion" class="am-accordion am-accordion-gapped" data-am-accordion='{  }'>
		<div class="hot-title"><i class="am-icon-thumbs-o-up"></i>热门新闻 / Hot 	News</div>
    {sp:content action='list' catid="$catid" num="5" order="'view desc,id desc'" return="data" more="1"}
    {volist name="data" id="vo" key="key"}    
      <dl class="am-accordion-item am-active">
        <dt class="am-accordion-title">
          {$vo.title}
        </dt>
        <dd class="am-accordion-bd am-collapse {if $key==1}am-in{/if}">
          <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
          <div class="am-accordion-content">
            {$vo.abstract}
            <a href="{:url('home/content/show',['id'=>$vo.id])}" style="color: #008aff;">立即阅读</a>
          </div>
        </dd>
      </dl>
      {/volist}
    {/sp:content}      
  </section>
	
</div>

<div class="clear"></div>
</div>
{include file="public/footer" /}
</body>
</html>
