<!DOCTYPE html>
<html lang="en">
<body class="theme-white" data-type="widgets">
    {load href="__STATIC__/css/amazeui.min.css,__STATIC__/css/app.css,__STATIC__/am-page/amazeui.page.css" /}
    {load href="__STATIC__/js/jquery.min.js,__STATIC__/js/amazeui.min.js,__STATIC__/layer/layer.js,__STATIC__/js/app.js,__STATIC__/am-page/amazeui.page.js" /}
    <div class="am-g tpl-g">
        <!-- 内容区域 -->
            <div class="row-content am-cf">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">会员列表</div>
                            </div>
                            <div class="widget-body  am-fr">
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                    <div class="am-form-group">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button type="button" class="am-btn am-btn-default am-btn-success" data-model="layer" data-action="open" data-option="{title:'添加会员',type:2,content:['{:url('/admin/user/add')}'],area: ['50%', '80%']}" data-close="close">
                                                <span class="am-icon-plus"></span> 新增</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-u-sm-12">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>用户名</th>
                                                <th>会员组</th>
                                                <th>真实姓名</th>
                                                <th>手机号码</th>
                                                <th>邮箱</th>
                                                <th>最后登录时间</th>
                                                <th>最后登录IP</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {volist name="list" id="vo"}
                                            <tr class="gradeX">
                                                <td>{$vo.id}</td>
                                                <td>{$vo.username}</td>
                                                <td>{$vo.group.group_name}</td>
                                                <td>{$vo.realname}</td>
                                                <td>{$vo.mobile}</td>
                                                <td>{$vo.email}</td>
                                                <td>{$vo.logintime??date('Y-m-d H:i:s',$vo.logintime)}</td>
                                                <td>{$vo.loginip}</td>                                                
                                                <td>
                                                    <div class="tpl-table-black-operation">
                                                        <a href="javascript:;"  data-model="layer" data-action="open" data-option="{title:'编辑会员资料',type:2,content:['{:url('/admin/user/add')}?id={$vo.id}','no'],area: ['50%', '80%']}">
                                                            <i class="am-icon-pencil"></i> 编辑
                                                        </a>
                                                        <a href="javascript:;"  data-model="ajax" data-action="get" data-url="{:url('/admin/user/delete')}" data-msg="确定要删除吗？" data-option="{id:{$vo.id}}" data-success="callback" class="tpl-table-black-operation-del">
                                                            <i class="am-icon-trash"></i> 删除
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {/volist}
                                            <!-- more data -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <script type="text/javascript">
        function callback(data){
            if(data.code==1){
                layer.msg(data.msg, {icon: 1,time: 1000},function(){
                    window.location.reload();
                });
                return true;
            }else{
                layer.msg(data.msg, {icon: 2});
                return false;
            }            
        }
    </script>
</body>
</html>
