<!DOCTYPE html>
<html lang="en">
    <body class="theme-white" data-type="widgets">
        {load href="__STATIC__/css/amazeui.min.css,__STATIC__/css/app.css,__STATIC__/am-page/amazeui.page.css" /}
        {load href="__STATIC__/js/jquery.min.js,__STATIC__/js/amazeui.min.js,__STATIC__/layer/layer.js,__STATIC__/js/app.js,__STATIC__/am-page/amazeui.page.js" /}
        <div class="am-g tpl-g">
            <!-- 内容区域 -->
            <div class="row-content am-cf">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">
                                {$form.title}—数据列表
                            </div>
                        </div>
                        <div class="widget-body  am-fr">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                                <button class="am-btn am-btn-default am-btn-success am-btn-xs am-dropdown-toggle"  data-model="layer" data-action="open" data-option="{title:'编辑',type:2,content:['{:url('/admin/form/data','form_id='.$Request.param.id)}'],area: ['80%', '80%']}">
                                                    <span class="am-icon-plus">
                                                    </span>
                                                    添加数据
                                                </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12">
                                <form action="{:url('/admin/models/sort','type=1')}" method="post" id="sort_form">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                        <thead>
                                            <tr>
                                                <th>
                                                    ID
                                                </th>
                                                {volist name="form.modelsData" id="vo"}
                                                {if $vo.models_type=='content'&&$vo.admin_show==1}
                                                <th>
                                                    {$vo.title}
                                                </th>
                                                {/if}
                                                {/volist}
                                                <th>
                                                    操作
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {volist name="list" id="vo"}
                                            <tr class="gradeX">
                                                <td>
                                                    {$vo.id}
                                                </td>
                                                {volist name="form.modelsData" id="v"}
                                                {if $v.models_type=='content'&&$v.admin_show==1}
                                                <td>
                                                    {:show($v,$vo[$v.name])}
                                                </td>
                                                {/if}
                                                {/volist}
                                                <td>
                                                    <div class="tpl-table-black-operation">
                                                        <a href="javascript:;" data-model="layer" data-action="open" data-option="{title:'编辑',type:2,content:['{:url('/admin/form/data','form_id='.$Request.param.id)}?id={$vo.id}'],area: ['80%', '80%']}">
                                                            <i class="am-icon-pencil">
                                                            </i>
                                                            编辑
                                                        </a>
                                                        <a href="javascript:;" data-model="ajax" data-action="get" data-url="{:url('/admin/form/delete_data','form_id='.$Request.param.id)}" data-msg="确定要删除吗？" data-option="{id:{$vo.id}}" data-success="del_success" class="tpl-table-black-operation-del">
                                                            <i class="am-icon-trash">
                                                            </i>
                                                            删除
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {/volist}
                                            <!-- more data -->
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function callback(data) {
                if (data.code == 1) {
                    layer.msg(data.msg, {
                        icon: 1,
                        time: 1000
                    }, function() {
                        window.location.reload();
                    });
                } else {
                    layer.msg(data.msg, {
                        icon: 2
                    });
                }
            }
        
            function del_success(data) {
                if (data.code == 1) {
                    layer.msg(data.msg, {
                        icon: 1,
                        time: 1000
                    }, function() {
                        window.location.reload();
                    });
                } else {
                    layer.msg(data.msg, {
                        icon: 2
                    });
                }
            }
                function navigation(data,$this){
                    if(data.code==1){
                        layer.msg(data.msg, {icon: 1,time: 1000},function(){
                            window.location.reload();
                        });
                    }else{
                        layer.msg(data.msg, {icon: 2});
                    } 
                }    
            </script>
    </body>
</html>
